header{
    background-color: #168aad;
    color: white;
    line-height: 3.5;
}

.container{
    display: flex;
    justify-content: center;
}

.artigo{
    background-color: #76c893;
    margin: 10px;
    padding: 35px;
    font-size: 24px;
}

h2{
    font-size: 40px;
}
