*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #44355B;
}

.container{
    background-color: #fff;
    display: flex;
    width: 700px;
    margin: 20px;
    margin-left: 400px;
    padding: 10px;

}

.titulo{
    font-size: 22px;
    margin: 12px;
}

.informacao{
    font-size: 19px;
    margin-top: 30px;
    margin-left: 12px;
    margin-bottom: 30px;
}

.post{
    font-size: 18px;
    margin-left: 10px;
}

.times{
    margin-top: 50px;
    margin-left: 10px;
}

.img1{
    width: 30px;
    margin-left: 10px;
}

.conquistas{
    margin-top: 40px;
}
